In [1]:
# import the packages
import numpy as np
import matplotlib.pyplot as plt
import xarray as xr
import netCDF4 as nc
import gsw
import shapely.geometry as sg
from shapely import Point

In [2]:
filename = "/scratch/mmurakami/WAOM/categorized.nc"
ds = xr.load_dataset(filename)

In [3]:
ds1 = "/scratch/mmurakami/WAOM/drifter_data_all_withdepth.nc"
ds1 = xr.load_dataset(ds1)

# fill categorized with nan where drifter_data_all is nan

In [ ]:
# Apply NaN mask
ds = ds.where(~np.isnan(ds1.Xgrid))

In [ ]:
np.where(np.isnan(ds.categorized[-70000].values))[0].shape

In [ ]:
ds.categorized[-70000]

# great, now get the indices where this is DSW at least once

In [ ]:
# cols_with_3 = ds.categorized.drif ter[(ds.categorized == 3).any()]

In [ ]:
drifters_with_3 = ds.categorized.where(ds.categorized == 3, drop=True).drifter.values

In [ ]:
drifters_with_3.shape

# do some value counts to get statistics

In [ ]:
arr = ds.categorized[0]
unique_values, counts = np.unique(arr, return_counts=True)
names = ['AABW', 'MCDW', 'ISW', 'DSW', 'AASW', 'WW', 'mSW','beached']
for i,j in zip(unique_values,counts):
    print(names[int(i)],j,j/3895)

In [28]:
y2 = 70080
y4 = 140160
y4_5 = 35040
arr = ds.categorized[y4_5]
unique_values, counts = np.unique(arr, return_counts=True)
names = ['AABW', 'MCDW', 'ISW', 'DSW', 'AASW', 'WW', 'mSW','beached']
beached = 0
for i,j in zip(unique_values,counts):
    if np.isnan(i):
        beached += 1
    else:
        print(names[int(i)],j,(j/3895))
print("beached",beached,beached/3895)

AABW 580 0.14890885750962773
MCDW 816 0.20949935815147624
ISW 40 0.010269576379974325
AASW 478 0.12272143774069319
WW 47 0.012066752246469832
mSW 12 0.0030808729139922978
beached 1 0.00025673940949935817

# do the clustering for these